/* SASS */

/* Import */
@import './base/estilosGenerales';
@import './base/extends';
@import './base/listas';
@import './base/mixins';
@import './base/variables';
@import './components/header';
@import './components/body';
@import './components/footer';

/* INDEX */

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 383px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;

    &:hover .flip-card-inner {
        transform: rotateY(180deg);
    }

    .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;

        .flip-card-front,
        .flip-card-back {
            position: absolute;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
        }

        .flip-card-front img {
            width: 100%;
        }

        .flip-card-back {
            background-color: nth($colores, 2);
            color: white;
            transform: rotateY(180deg);
        }
    }
}

/*ABOUT*/

.row-cstm {
    padding: 2%;
    @extend %flex;

    .p_bio {
        padding: 10%;
        text-align: center;
        color: white;
    }

    .biopic {
        filter: brightness(70%);

        &:hover {
            filter: none;
        }
    }
}

/* ART */

.container-art {
    margin: 150px;
    max-width: 600px;
    max-height: 350px;
    @extend %flex;
    flex-direction: row;

    &:hover img {
        opacity: 0.3;
    }

    img {
        width: 30%;
        height: 100%;
        object-fit: cover;

        transform-origin: center;
        transform: perspective(800px) rotateY(25deg);
        transition: 0.5s;

        &:hover {
            transform: perspective(800px) rotateY(0deg) scale(150%);
            opacity: 1;
            z-index: 2;
        }
    }
}

/* WRITINGS */

#main_writings {
    margin-bottom: 3%;

    .accordion-item-cstm {
        color: nth($colores, 2);
        background: radial-gradient(nth($colores, 3), nth($colores, 4));

        .accordion-button-cstm {
            background-color: nth($colores, 5);
            color: white;
        }

        .p-writings {}
    }
}

/* CONTACT */
#main_contact {
    margin-bottom: 3%;

    .contacto {
        margin-bottom: 10px;

        .contacto-label {
            color: nth($colores, 3);
            font-size: larger;
        }
    }

    .btn-cstm {
        color: nth($colores, 1);
        border: solid nth($colores, 1);

        &:hover {
            background-color: nth($colores, 1);
            color: wheat;
        }
    }

}